.all-content {
    font-size: 18px;
    font-family: sans-serif;
}
.Active {
    color: #344767;
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

.container {
    align-content: space-between;
    align-items: flex-start;
    color: #67748E;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.progress {
    margin-top: 2px;
    width: 90px;
    height: 4px;
    background: rgb(211,211,211);
    border-radius: 2px;
}

.progress-fill1 {
    width: 50%;
    height: 100%;
    border-radius: 5px;
    background: #344767;
    
}

.progress-fill2 {
    width: 85%;
    height: 100%;
    background: #344767;
    border-radius: 5px;
}

.progress-fill3 {
    width: 30%;
    height: 100%;
    border-radius: 5px;
    background: #344767;
}

.progress-fill4 {
    width: 50%;
    height: 100%;
    background: #344767;
    border-radius: 5px;
}

.Card {
    font-size: 15px;
    margin-right: 20px;
}

.Card p {
    color: #344767;
    font-weight: bold;
}

.image1{
    width: 15%;
    border-radius: 5px ;
    margin-right: 5px;
    filter: drop-shadow(2px 2px 2px #ccc)
}

